@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Integration of user registration at <a href="http://pocockrowingcenter.gosignmeup.com">GoSignMeUp</a> 
    and <a href="http://prc.bookedscheduler.com">BookedScheduler</a>.</p>
