@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Samuel Druker
    <abbr title="Phone">P:</abbr>
    425.610.7550
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:samuel@druker.org">samuel@druker.org</a><br />
</address>